*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
header {
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#logo-start {
    margin: 0 250px;
}

nav ul {
    position: relative;
    width: 100%;
    height: 100px;

}

nav ul li {
    display: inline-block;
    vertical-align: middle;
}

nav ul li a {
    color: white;
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 100px;
    vertical-align: middle;
    
}

#login {
    width: 80px;
    height: 40px;
    margin: 0 250px;
    background-color: white;
    border-radius: 25px;
}

#login a {
    color: black;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 12px;  
}