*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
header {
    position: relative;
    width: 100%;
    height: 620px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

#logo-start {
    margin: 0 270px;
}

nav ul {
    width: 100%;
    height: 100px;

}

nav ul li {
    display: inline-block;
    vertical-align: middle;
}

nav ul li a {
    color: white;
    padding-left: 40px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    
}

#login {
    width: 80px;
    height: 40px;
    margin: 0 270px;
    background-color: white;
    border-radius: 25px;
}

#login a {
    color: black;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 12px;  
}

header div {
    position: absolute;
    top: 180px;
    left: 550px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 65px;
    margin-bottom: 40px;
}

header p {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

header div a {
    display: inline-block;
}

.button {
    border-radius: 30px;
    text-decoration: none;
    font-size: 23px;
    margin: 20px 20px;
    line-height: 60px;
    vertical-align: middle;
}

.mac {
    width: 250px;
    height: 60px;
    background-color: white;
    color: black;
    padding: 0 20px;
}

.open {
    width: 370px;
    height: 60px;
    background-color: #23272A;
    color: white;
}
/* / header */

/* main */
/* sezione 1 */
.sezione-1 {
    width: 100%;
    height: 620px;
    display: inline-block;
}


.sezione-1 img {
    float: left;
    margin: 150px 150px 200px 300px;
}

.sezione-1 span h2 {
    font-size: 50px;
    margin-top: 180px;
    margin-bottom: 30px;
    color: #23272A;
}

.sezione-1 span p {
    font-size: 22px;
    color: #23272A;;
}
/* / sezione 1 */